/*documento css*/
/*reset*/
*{ margin:0 ; padding:0; list-style:none; border:none; text-decoration:none; }
body{ background:#ffffff; font-size:62.50%; }

#medicos{ float:left; }
#medicos fieldset{ margin:10px 20px 0; border:none; }
#medicos legend{ font-size:2.4em; font-family:Tahoma, Geneva, sans-serif; color:#003c94; text-align:center; font-weight:bold; margin-bottom:40px; }
#medicos p{ font-size:2em; font-family:Tahoma, Geneva, sans-serif; color:#003c94; text-align:center; padding:0 10%; }
#medicos p span{ background-color:#003c94; color:#ffffff; padding:3px 5px; border-radius:5px; line-height:40px; font-size:1em; }
#medicos label{ float:left; width:50%; height:30px; margin:5% 0 0 25%; }
#medicos select{ width:100%; border:2px solid #d4d4d4; border-radius:5px; height:30px; margin:0 auto; padding-left:10px; }
#medicos select:focus{ box-shadow:0 0 0 0; outline:0; background-color:#e0f2f3; }
/*#cmbMedicos{   font: 2em Tahoma, Geneva, sans-serif;
background-color:#f4f4f4; color:#172b44; border-radius:10px; background-color:#0C0; }
#cmbMedicos:focus{ background-color:#e0f2f3; box-shadow:0 0 0 0; outline:0; }