<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity password="IOC2017caru1990aru" userName="ioccaruaru" />
    </system.web>
    <system.webServer>
        <urlCompression doDynamicCompression="false" />
        <defaultDocument enabled="true">
            <files>
                <add value="doubleeitch/index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="PHP-FastCGI7.1" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php7.1\php-cgi_2.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
