/*documento css*/
/*reset*/
*{ margin:0 ; padding:0; list-style:none; border:none; text-decoration:none; }
body{ background:#ffffff; font-size:62.50%; }

/*box*/
.container{ margin:0 auto; max-width:1024px; }
.clearfix:before, .clearfix:after{ content:''; display:table; }
.clearfix:after{ clear:both; }
.clearfix{ *zoom:1; }

/*início header*/
.header{ width:100%; height:18%; }

/*logo*/
.logo{ margin:30px auto 0; width:29.296875%; }
.logo img{ width:300px; height:85px; }

/*início article*/
/*início home*/
.article{ width:100%; margin:0 auto; float:left; }

#page{ margin:100px auto 0; width:60%; height:58.1%; }
#page h1{ font:4em oxygen; color:#FF0000; text-align:center; font-weight:bold; }
#page p{ font:2.2em oxygen; color:#000000; text-align:center; }
#page strong{ color:#003c94; font-family:Tahoma, Geneva, sans-serif; }
#botoes{ width:100px; height:30px; margin:30px auto 0; }
#botoes .designBotao{ width:100px; height:30px; font-family:Tahoma, Geneva, sans-serif; font-size:2em; background-color:#003c94; color:#ffffff;
border-radius:5px; float:right; }
#botoes .designBotao:hover, #botoes .designBotao:focus{ background-color:#acc3de; color:#003c94; box-shadow:0 0 0 0; outline:0; }

/*início footer*/
#footer{ float:left; width:100%; height:3.5%; background-color:#172b44; }
/*fim footer*/