/*documento css*/
/*reset*/
*{ margin:0 ; padding:0; list-style:none; border:none; text-decoration:none; }
body{ background:#ffffff; font-size:62.50%; }

/*box*/
.container{ margin-left:auto; margin-right:auto; width:92%; }
.clearfix:before, .clearfix:after{ content:''; display:table; }
.clearfix:after{ clear:both; }
.clearfix{ *zoom:1; }

/*início header*/
.header{ width:100%; height:18%; }

/*logo*/
.logo{ margin-top:15px; margin-left:auto; margin-right:auto; width:50%; min-width:25em; max-width:30em; }
.logo img{ max-width:100%; min-width:50%; }

/*início article*/
/*início home*/
.article{ width:100%; margin:0 auto; float:left; }

#page{ float:left; width:83.7%; margin-bottom:10px; }

/* Classes */
.full{ width:100%; }
.t75{ float:left; width:70%; margin-right:2%; }
.t50_left{ float:left; width:45%; margin-right:2%; }
.t50_right{ float:right; width:45%; margin-right:2%; }
.t25{ float:left; width:26%; }
.legendaCampos{ float:left; font-size:1.3em; font-family:Tahoma, Geneva, sans-serif; font-weight:bold; color:#003c94; }

#usuario{ float:left; }
#usuario fieldset{ margin:10px 20px 0; border:none; }
#usuario legend{ font-size:2.4em; font-family:Tahoma, Geneva, sans-serif; color:#003c94; text-align:center; font-weight:bold; margin-bottom:40px; }
#usuario p.alerta{ margin-bottom:20px; font:1.5em Tahoma, Geneva, sans-serif; font-weight:bold; color:#F00; text-align:center; }
#usuario input[type="text"], select{ border:2px solid #d4d4d4; border-radius:5px; height:30px; margin:5px 0 15px; padding-left:10px; }
#usuario input[type="text"]:focus, select:focus{ box-shadow:0 0 0 0; outline:0; background-color:#e0f2f3; }
#usuario span{ float:right; font-size:1.2em; font-family:Tahoma, Geneva, sans-serif; color:#cd150c; font-weight:normal; }
#usuario span.obs{ margin-bottom:15px; }

#botaoProximo{ float:right; width:100px; height:30px; margin-top:10px; margin-right:2%; }
#botoesConfirmacao{ float:left; width:210px; height:30px; margin-top:10px; }
#botoes{ float:right; width:210px; height:30px; margin-top:10px; position:absolute; left:50%; transform:translateX(-50%); }
.designBotao{ width:100px; height:30px; font-family:Tahoma, Geneva, sans-serif; font-size:2em; background-color:#003c94; color:#ffffff; border-radius:5px; float:left; cursor:pointer; }
.designBotao:hover, #botoes .designBotao:focus{ background-color:#acc3de; color:#003c94; box-shadow:0 0 0 0; outline:0; }
.designBotao:disabled{ background-color:#a4a4a4; cursor:default; color:#ffffff; }
.flutuaDir{ float:right; }
.flutuaEsq{ float:left; }
.margemDireita{ margin-right:10px; }
.btnVoltarCal{ margin-right:58px; }
.margemDireitaDiv{ margin-right:58px; }

#calendario{ float:left; width:50%; margin-top:2%; margin-bottom:40px; position:relative; }
#calendario p{ font-size:1.5em; font-family:Tahoma, Geneva, sans-serif; color:#003c94; text-align:center; margin-bottom:6%; }
#calendario span{ color:#93f372; font-weight:bold; }
#calendario strong{ color:#000000; }
#tblCalendario{ margin:0 auto; border:1px solid #172b44; background-color:#ffffff; color:#000000; margin-top:3%; }
#tblCalendario tr{ text-align:center; }
#tblCalendario tr.legenda_calendario{ background-color:#5b87bd; color:#ffffff; }
#tblCalendario tr td{ width:40px; height:25px; border:1px solid #172b44; font:0.8em "Trebuchet MS", Arial, Helvetica, sans-serif; }
#tblCalendario tr td .btnSeta{ background-color:#5b87bd; color:#ffffff; width:40px; height:25px; cursor:pointer; }
#tblCalendario tr td .btnSeta:disabled{ background-color:#a4a4a4; cursor:default; }
#tblCalendario tr td .btn_Data{ background-color:#00ff00; color:#000000; width:40px; height:25px; cursor:pointer; font:1em "Trebuchet MS", Arial, Helvetica, sans-serif; }
#tblCalendario tr td .btnDia{ background-color:#93f372; width:40px; height:25px; font:1em "Trebuchet MS", Arial, Helvetica, sans-serif; color:#1404D5; cursor:pointer; }
#tblCalendario tr td .diaMarcacao, #tblCalendario tr td .btnDia:hover{ background-color:#5b87bd; color:#ffffff; }
#tblCalendario tr td .diaMarcacao{ cursor:default; }
#tblCalendario tr td.dia_atual{ background-color:#848DFF; }
#tblCalendario tr td.sem_data{ background-color:#e4e4e4; }

#horarios{ float:left; margin-top:2%; width:50%; }
#horarios p{ font-size:1.6em; font-family:Tahoma, Geneva, sans-serif; color:#003c94; text-align:center; margin-bottom:25px; font-weight:bold; }
#horarios #tabelas{ margin:0 auto; }
#horarios .tblHorario{ float:left; border:1px solid #172b44; background-color:#ffffff; color:#000000; }
#horarios .tblHorMrgDir{ margin-right:15px; }
#horarios .tblHorario tr{ text-align:center; }
#horarios .tblHorario tr.legendaHorarios{ background-color:#5b87bd; color:#ffffff; }
#horarios .tblHorario tr td{ height:25px; border:1px solid #172b44; font:0.7em "Trebuchet MS", Arial, Helvetica, sans-serif; }
#horarios .tblHorario tr td.tdSelecao{ width:35px; }
#horarios .tblHorario tr td.tdHorario{ width:110px; }
#horarios .tblHorario tr td.tdHorCheg{ width:70px; }

#mensagemErro{ float:left; width:95%; margin:20px 0 0 30px; font-family:Tahoma, Geneva, sans-serif; }
#mensagemErro .tituloErro{ font-size:2.2em; color:#f00000; margin-bottom:20px; }
#mensagemErro .subtituloErro{ margin-bottom:30px; }
#mensagemErro .msgErroTit{ font-weight:bold; }
#mensagemErro .msgErro{ font-size:1.5em; margin-bottom:5px; }
#botoesErro{ width:100px; height:30px; margin:30px auto 0; }
#botoesErro .designBotao{ width:100px; height:30px; font-family:Tahoma, Geneva, sans-serif; font-size:2em; background-color:#003c94; color:#ffffff;
border-radius:5px; float:right; }
#botoesErro .designBotao:hover, #botoesErro .designBotao:focus{ background-color:#acc3de; color:#003c94; box-shadow:0 0 0 0; outline:0; }
#mensagemErroHr{ float:left; width:45%; margin:2%; font-family:Tahoma, Geneva, sans-serif; }
#mensagemErroHr .tituloErro{ font-size:2.2em; color:#f00000; margin-bottom:20px; }
#mensagemErroHr .subtituloErro{ margin-bottom:30px; }
#mensagemErroHr .msgErroTit{ font-weight:bold; }
#mensagemErroHr .msgErro{ font-size:1.5em; margin-bottom:5px; }

#sidebar{ float:left; width:15%; height:69%; background-color:transparent; border-right:3px solid #5b87bd; padding-top:2%; margin-bottom:25px; }
#sidebar .topico_sidebar{ width:100%; height:60px; max-height:60px; margin:0; padding:0; }
#sidebar .img_sidebar{ float:left; width:15px; height:60px; }
#sidebar img{ width:15px; height:15px; float:left; }
#sidebar p{ margin-left:5px; font:1.2em "Trebuchet MS", Arial, Helvetica, sans-serif; color:#5b87bd; float:left; max-width:70%; line-height:15px; }

#confirmacao{ float:left; width:96%; margin:10px 0 0 2%; }
#confirmacao .titConfirm{ font-size:2em; font-family:Tahoma, Geneva, sans-serif; color:#003c94; font-weight:bold; margin-bottom:30px; }
#confirmacao table{ width:100%; }
#confirmacao table tr td{ width:75%; height:30px; font-size:0.9em; font-family:Tahoma, Geneva, sans-serif; }
#confirmacao table tr td.legConfirm{ width:25%; }
#confirmacao table tr td strong{ font-size:0.8em; font-family:Tahoma, Geneva, sans-serif; font-weight:bold; color:#003c94; margin-right:10px; }
#confirmacao .dadosConfirm, #confirmacao .dadosConfirm:disabled{ float:left; width:70%; font-size:1.4em; font-family:Tahoma, Geneva, sans-serif; margin-bottom:10px; background-color:#ffffff; color:#000000; }

/*início footer*/
#footer{ width:100%; height:3.5%; background-color:#172b44; }
/*fim footer*/

@media screen and (max-width: 960px){
	#sidebar{ display:none; }
	#page{ width:100%; }
}
@media screen and (max-width: 768px){
	#calendario{ width:100%; }
	#horarios{ width:100%; margin-top:8%; }
	#horarios p{ margin-bottom:15px; }
}
@media screen and (max-width: 690px){
	.t75{ width:100%; margin-right:0; }
	.t25{ width:100%; }
	.legendaCampos{ width:100%; }
	#usuario span{ float:none; }
	.t25 input{ width:25%; min-width:105px; }
	.t50_left input, .t50_left select, .t50_right input, .t50_right select{ min-width:180px; }
}
@media screen and (max-width: 480px){
	.t50_left, .t50_right{ width:100%; margin:0; }
}
@media screen and (max-width: 380px){
	.t50_left, .t50_right{ width:100%; margin:0; }
	#tblCalendario tr td{ width:35px; height:25px; }
	#tblCalendario tr td .btnSeta{ width:35px; height:25px; }
	#tblCalendario tr td .btn_Data{ width:35px; height:25px; }
	#tblCalendario tr td .btnDia{ width:35px; height:25px; }
	#horarios .tblHorMrgDir{ margin-right:10px; }
	#horarios .tblHorario tr td.tdSelecao{ width:25px; }
	#horarios .tblHorario tr td.tdHorario{ width:105px; }
	#horarios .tblHorario tr td.tdHorCheg{ width:70px; }
}

/*CSS para impressão*/
@media print {
	*{ background:transparent !important; color:#000 !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; }
	body{ margin:0; padding:0; line-height: 1.4em; }
	@page{ margin: 0.5cm; }
	img{ max-width:100%; }
	#sidebar{ display:none; }
	#botoesConfirmacao{ display:none; }
	#page{ width: 100%; margin: 0; float: none !important; position:relative; }
	#confirmacao{ width:90%; position:absolute; left:50%; transform:translateX(-50%); margin:0 !important; }
	#confirmacao table tr td{ width:70%; }
#confirmacao table tr td.legConfirm{ width:25%; }
}